---
import { getCollection } from 'astro:content'
import SectionLayout from '../layouts/SectionLayout.astro'
import Project from '../components/Project.astro'
import OthelloProject from '../components/Othello/OthelloProject'

const projects = await getCollection('projects')
---

<SectionLayout title="Projets" id="projects">
  <div class="projects-container">
    {
      projects.map((project, index) => (
        <Project
          title={project.data.title}
          description={project.body}
          technologies={project.data.technologies.split(', ')}
          cover={project.data.cover}
          coverAlt={project.data.coverAlt}
          demoLink={project.data.demoLink}
          repoLink={project.data.repoLink}
          inverted={index % 2 === 1}
        />
      ))
    }
    <OthelloProject client:idle />
  </div>
</SectionLayout>

<style lang="scss">
  .projects-container {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    position: relative;
  }
</style>
