---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

import { getCollection } from 'astro:content'
import SectionLayout from '../layouts/SectionLayout.astro'
import Project from '../components/Project.astro'
import OthelloProject from '../components/Othello/OthelloProject'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const projects = await getCollection('projects', ({ id }) =>
  id.startsWith(`${lang}/`)
)
---

<SectionLayout title={t('section.title.projects')} id="projects">
  <div class="projects-container">
    {
      projects.map((project, index) => (
        <Project
          title={project.data.title}
          description={project.body}
          technologies={project.data.technologies.split(', ')}
          cover={project.data.cover}
          coverAlt={project.data.coverAlt}
          demoLink={project.data.demoLink}
          repoLink={project.data.repoLink}
          inverted={index % 2 === 1}
        />
      ))
    }
    <OthelloProject client:idle />
  </div>
</SectionLayout>

<style lang="scss">
  .projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    position: relative;
  }

  @media (max-width: 768px) {
    .projects-container {
      gap: 5rem;
    }
  }
</style>
